/* CSS for Navbar */
#logo{
    transition-duration: 0.5s;
}

#logo:hover{
    transform: scale(1.09);
}

.fa-solid{
    margin-right: 8px;
}

#nav_a{
	color: #ffffff;
  position: relative;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 0px;
}

#nav_a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#nav_a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#login{
	color: #ffffff;
  position: relative;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 0px;
}

#login::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#login:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* CSS for view page  */
#slider{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

#carouselExampleAutoplaying{
  width: 55%;
  height: 400px;
}

.slide_img{
  height: 395px;
  width: 100%;
  border-radius: 10px;
}

#show_data,#comment_section,#main_comment{
  display: flex;
  justify-content: center;
}

#box{
  width: 55%;
}

#input_comment{
  width: 55%;
  margin-top: 20px;
}

#comments{
  text-align: center;
  width: 100%;
}

#com{
  width: 55%;
  border-style: groove;
  padding: 10px;
  margin-top: 10px;
}

#comment_box{
  border-style: groove;
  margin-bottom: 10px;
  border-radius: 0px 10px 0px 10px;
  width: 100%;
}
